@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Reset browser default margin padding */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    background-color:#e5e7eb ;
}

#container{
  width: 37%;
  margin: auto;
  background-color:#f4f4f5 ;
  padding: 2rem;

}

#container h1{
  margin-bottom: 1rem;
  color: #3f3f46;
}

#container label{
  display: block;
  margin-bottom: .5rem;
  font-weight: bold;
}

#container input{
  width: 100%;
  margin-bottom: 1rem;
  padding: 10px;
}

#container .btn{
  display: block;
  margin: 1rem auto;
  color:white;
  background-color: #a1a1aa;
  border: none;
  padding: .8rem;
  border-radius: 1rem;
}

#container .btn:hover{
  background-color: #71717a;
}

.user-output{
  text-align: center;
}
